# Third-party libs and Django apps used by psms
# Install using pip: http://pip.openplans.org/
# File format: http://pip.openplans.org/requirement-format.html

# sudo apt-get install libjpeg8 libjpeg8-dev libmysqlclient-dev

beautifulsoup4==4.0.5
Django==1.4
django-extensions==1.6.1
django-tastypie==0.9.11
gunicorn==0.14.3
lxml==2.3.4
mysql-python==1.2.3  # depends on libmysqlclient-dev
Pillow==3.0.0        # depends on libjpeg8 libjpeg8-dev
pykml==0.1.0
python-memcached==1.48
requests==0.12.1
sorl-thumbnail==11.12
unicodecsv==0.9.0
wikitools==1.1.1
poster==0.8.1
