{% extends "tansu/base.html" %}
{% load tansu_tags %}


{% block title_head %}{{ entity.title }}{% endblock %}
{% block title_page %}{{ entity.title }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url tansu-index %}">Home</a>
&raquo; {{ entity.title }}
{% endblock breadcrumbs %}


{% block contents %}

{% entity entity request %}

{% if entity.instances %}
<h4>Instances</h4>
<div id="instances">
{% for instance in entity.instances %}
{% list_instance instance request %}
{% endfor %}{# instance in entity.instances #}
</div><!-- #instances -->
{% endif %}{# entity.instances #}


<h4>API URLs</h4>
<p>
(by id) {{ entity.api_url }}<br/>
(filename) {{ entity.api_filename_url }}<br/>
</p>


{% endblock contents %}
