{% load thumbnail %}
<div class="instance">
{% if not instance.is_master %}
<p>
{% thumbnail instance.media "50x50" crop="center" as img %}
<a href="{{ instance.media.url }}"><img src="{{ img.url }}" /></a>
{% empty %}
<a href="{{ instance.media.url }}"><img src="{{ STATIC_URL }}tansu/icons/{{ instance.model }}.png" width="50" height="50" /></a>
{% endthumbnail %}
{% if request.user.is_staff %}[ <a href="{{ instance.edit_url }}">edit</a> ]{% endif %}
({{ instance.media.size|filesizeformat }})
{{ instance.mimetype }}
{{ instance.description }}
<br/>
</p>
{% endif %}{# not instance.is_master #}
</div><!-- .instance -->
