{% extends "tansu/base.html" %}
{% load thumbnail %}


{% block title_head %}{{ instance.media }}{% endblock %}
{% block title_page %}{{ instance.media }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url tansu-index %}">Home</a>
&raquo; <a href="{{ entity.get_absolute_url }}">{{ entity.title }}</a>
&raquo; {{ instance.media }}
{% endblock breadcrumbs %}


{% block contents %}

{{ instance.media }}

{% if request.user.is_staff %}<a href="{{ instance.edit_url }}">edit</a>{% endif %}

<p>
{% thumbnail instance.media "50x50" crop="center" as img %}
<a href="{{ instance.get_absolute_url }}"><img src="{{ img.url }}" /></a>
{% empty %}
<a href="{{ instance.get_absolute_url }}"><img src="{{ STATIC_URL }}tansu/icons/{{ instance.mimetype }}.png" width="50" height="50" /></a>
{% endthumbnail %}
</p>

<h4>API URLs</h4>
<p>
(by id) {{ instance.api_url }}<br/>
(filename) {{ instance.api_filename_url }}<br/>
</p>


{% endblock contents %}
