Source: encyc-psms
Section: web
Priority: optional
Maintainer: geoffrey jost <geoffrey.jost@densho.org>
Build-Depends: debhelper (>= 8.0.0), dpkg (>= 1.15.7.2)
Standards-Version: 3.9.3
Homepage: https://github.com/densho/encyc-psms
Vcs-Git: https://github.com/densho/encyc-psms.git

Package: encyc-psms
Architecture: i386
Depends: ${misc:Depends}, python2.6, python-virtualenv, ${python:Depends}
Description: Primary Source Management System for Densho Encyclopedia
 Django app that provides access to primary source media used in encyclopedia.
