{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/sources/">Sources</a>
&rsaquo; <a href="/admin/sources/source/">Primary Sources</a>
&rsaquo; primary source links
</div>{% endblock %}
{% endif %}

{% block content %}

<h1>
<a href="{% url "api-index" %}">REST API</a>
</h1>

<p>
MediaWiki: {{ mediawiki_username }} @ {{ mediawiki_scheme }}://{{ mediawiki_host }}
</p>

{% endblock %}
