<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title_head %}{% endblock %} | Tansu</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/{{ JQUERY_VERSION }}/jquery.min.js"></script>
  <style type="text/css" media="screen">
    .entity { border: 4px solid #cdd; }
    .instance { border: 4px solid #dcd; }
    .visible { visibility: visible; }
    .invisible { display: none; }
  </style>
</head>
<body>

{% block breadcrumbs %}{% endblock breadcrumbs %}

<h1>{% block title_page %}{% endblock %}</h1>

{% block contents %}{% endblock contents %}

</body>
</html>
